html,body{
	width: 100%;
	height: 100%;
	padding-bottom: 20%;
}

#personalCenter_wrap>.ftopNav>.per_arrow {
	font-size: 14px;
}

#personalCenter_wrap>.ftopNav>.per_jiujiao {
	font-size: 16px;
	color: gray;
}

#per_speacial {
	right: 5%;
	font-size: 14px;
	color: darkgrey;
}

#personalCenter_wrap {
	background-color: rgb(236, 236, 236);
	position: relative;
}
#personalCenter_one {
	width: 100%;
	/*height: 190px;*/
	position: relative;
	background-color: #FFFFFF;
}
#personalCenter_person {
	width: 100px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
#personalCenter_one>img {
	width: 100%;
}
#personalCenter_person img {
	width: 70%;
	position: absolute;
	top: -20px;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
#personalCenter_person>div {
	position: absolute;
	text-align: center;
	bottom: 20%;
	color: rgb(211,211,211)
}
#personalCenter_two {
	/*height: 100px;*/
	position: relative;
	background-color: #FFFFFF;
}

#personalCenter_two, #personalCenter_three span {
	color: rgb(169, 169, 169);
	font-size: 0.95em;
}
#personalCenter_two>span {
	font-weight: 500;
}

#personalCenter_two_menu {
	border-top: 1px solid darkgray;
	width: 96%;
	height: 18%;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	/*height: 50px;*/
	/*margin-top: 20px;*/
	position: relative;
	overflow: hidden;
}
#personalCenter_two_menu>a {
	text-decoration: none;
	width: 24%;
	height: 100%;
	/*background-color: greenyellow;*/
	float: left;
	text-align: center;
	position: relative;
	padding: 10px 0 10px 1px;
}

#personalCenter_two_menu img:nth-child(1) {
	width: 50%;
	/*height: 100%;*/
	/*position: absolute;*/
	/*left: 25px;
	top: 35px;*/
}
#personalCenter_two_menu img:nth-child(2) {
	width: 13px;	
	right: 25%;
	top: 6%;
	position: absolute;
	/*left: 25px;
	top: -5px;*/
}
#personalCenter_two_menu img:nth-child(3) {
	width: 100%;
	height: 100%;
	/*position: absolute;*/
	/*top: 14px;
	left: 115px;*/
}
#personalCenter_two_menu img:nth-child(4) {
	width: 100%;
	height: 100%;
	/*position: absolute;*/
	/*top: 14px;
	left: 210px;*/
}
#personalCenter_two_menu img:nth-child(5) {
	width: 100%;
	height: 100%;
	/*position: absolute;*/
	/*top: 13px;
	left: 300px;*/
}
#personalCenter_two_first {
	/*height: 40px;*/
	position: relative;
	overflow: hidden;
}

#personalCenter_two_first>span {
	display: inline-block;
	padding: 15px;
	/*margin-top: 8px;
	margin-left: 15px;*/
}

#personalCenter_two_first>a {
	/*position: absolute;
	right: 40px;
	top: 10px;*/
	padding: 15px;
	float: right;
}

.iconfont {
	float: right;
	margin-right: 5px;
}


#personalCenter_two_first>.personalCenter_enter {
	right: 10px;
	top: 17px;
}

#personalCenter_three {
	margin-top: 10px;
	position: relative;
	margin-bottom: 40px;
}

#personalCenter_three>div {
	width: 100%;
	margin-bottom: 2px;
	margin-top: 2px;
	background-color: #FFFFFF;
}

#personalCenter_three span {
	display: inline-block;
	padding: 15px;
}

#personalCenter_three .personalCenter_enter {
	right: 10px;
}

#personalCenter_three .perMove1 {
	top: 18px;
}

#personalCenter_three .perMove2 {
	top: 65px;
}
#personalCenter_three .perMove3 {
	top: 110px;
}

#shoppingCart1_selfStroe #shoppingCart1_zhangyu {
	width: 100%;
}

.self_first {
	width: 100%;
}

.shoppingCart1_checkBox {
	display: inline-block;
	width: 50%;
	background-color: yellow;
}
